*{margin:0;padding:0}

li{
    display:list-item;
}
em, i, u {
    font-style: normal;
}
img{
    border:0px;
    vertical-align: middle;
}
img{
    background:url(../img/lazyload.gif) no-repeat center center;
    background-size:100% 100%;
}
body{
    font:12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    color:#666;
    background:#fff;
}
body div,nav,header,aside,section,footer{
    box-sizing:border-box;
}
#top-banner{

    height:70px;
    margin:0 auto;
    position:relative;
}
#top-banner-close{
    width:20px;
    height:20px;
    position:absolute;
    top:8px;
    right:8px;
    background:url(../img/index/top-banner-close.png) no-repeat;
    cursor: pointer;
}
.w{
    width:1210px;
    margin:0 auto;
}
nav{
    float: left;
    height:33px;
    margin-top:10px;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
ol,ul{
    list-style: none;
}
ul{
    display:block;
}
.dropdown-layer {
    z-index:13;
    display: none;
    position: absolute;
}
.dropdown{
  
    position:relative;
}
.dropdown:hover{
    background:#fff;
}
.dropdown:hover .dropdown-layer{
    display:block;
}
a{
    text-decoration:none;
    color:#666;
}
a:hover{
    color:#f30213;
}
.clearfix:after{
    content:".";
    display: block;
    height:0;
    clear:both;
    visibility:hidden;
}
.p-price {
    color: #fa2846;
}
.p-price del{
    padding-left:5px;
    color:#ddd;
}
.p-detail, .p-img, .p-market, .p-name, .p-price {
    overflow: hidden;
}



