
.book_nav .item{
    position:relative;
}
.book_nav  .item_header{
    position:relative;
    padding:2px 10px 4px;
    border-bottom:1px dotted #846c64;

}
.book_nav .item:hover .item_header {
    border-bottom-color: rgb(153, 118, 105);
}
.book_nav .item:hover{
    background-color: #997669;
}

.book_nav .item .item_body {

    position: absolute;
    left: 210px;
    background-color: #fff;
    opacity: .95;
    width: 623px;
    display: none;
    z-index: 21;
}
.book_nav .item:hover .item_body{
    display:block;
}

.book_nav  .item_header_title{
    position:relative;
    padding-top:14px;
   
}
.book_nav .item:hover .item_header_title{
    position:static;
}
.book_nav .book_nav_arrow{
    position:absolute;
    top:16px;
    right:0;
    background:url("../img/index/icons-s23dd3cb125.png") no-repeat 0 -685px;
    width:7px;
    height:11px;
}
.book_nav .item:hover .book_nav_arrow{
    z-index: 22;
    top: 50%;
    right: -20px;
    margin-top: -10px;
    width: 0px;
    height: 0px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent rgb(153, 118, 105);
    border-width: 10px;
    overflow: hidden;
    background: none;
}
.book_nav .item_header_title a{
    color:#e6d4cd;
}
.book_nav .item_header_sublinks {
    padding: 4px 0 9px;
    
    overflow: hidden;
}
.book_nav .item_header_sublinks_link{
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
}
.item_body_wrapper {
    border:1px solid rgb(164,130,128);
    border-left:0;
    /* border-width: 1px 1px 1px 0px;
    border-style: solid solid solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: initial;
    border-color: rgb(164, 130, 118) rgb(164, 130, 118) rgb(164, 130, 118);
    border-image: initial;
    border-left: 0px; */
}
.book_nav_sub {
    position: relative;
    float: left;
    width: 570px;
    padding: 22px 28px 18px 30px;
}
.book_nav_sub_main {
    float: left;
    width: 500px;
    overflow: hidden;
}
.book_nav_sub_main_link{
    display: inline-block;
    height: 14px;
    margin: 5px 0px;
    padding: 0px 8px;
    font: 12px/14px simsun;
    overflow: hidden;
    border-left: 1px solid rgb(204, 204, 204);
}
.book_nav_sub_main_hot {
    color: red;
}
