#shortcut{
    width:100%;
    height:30px;
    line-height:30px;
    background:#e3e4e5;

}
#shortcut .w{
    color:#999;
}
#shortcut  img{
    position: relative;
    top:-3px;
    display: inline-block;
    width:18px;
    height:18px;
    padding-right: 2px;
}
#shortcut li{
    float:left;
    height:30px;
    padding:0 2px;

}
#shortcut #ttbar-mycity{
    padding-left:0;
}
#shortcut .dt{
    float:left;
    padding: 0 8px;
    cursor:default;
}
#shortcut #ttbar-mycity .dt{
    padding:0 25px 0 10px;
}
#shortcut #ttbar-mycity .dd{
    width: 332px;
    padding: 10px 0 10px 10px;
}
#shortcut .link-login{
    color:#f30213;
}

#shortcut .spacer{
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ccc;
    overflow: hidden;
}
#shortcut .dropdown-layer{
    top:30px;
    background:#fff;
    border:1px solid #ddd;
    border-top:none;
}
#shortcut .dd {
    line-height: 24px;
}
#shortcut a{
    color:#999;
}
#shortcut .item {
    float: left;
    width: 64px;
    padding: 2px 0;
}
#shortcut .item a{
    float:left;
    padding:0 8px;
}
#shortcut #ttbar-mycity .item .selected {
    background: #f30213;
    color: #fff;
}
#shortcut #ttbar-mycity a:hover {
    background:#f4f4f4;
}
#shortcut #ttbar-serv .dd{
    left:-44px;
    width:130px;
}

#shortcut #ttbar-serv .dt{
    position:relative;
    padding-right:25px;
}
#shortcut #ttbar-serv .dt i{
    display:inline-block;
    width:10px;
    height:10px;
    position:absolute;
    right:5px;
    top:10px;
    background:url(../img/down-@1x.png) no-repeat 0 0;
}
